.navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: var(--bgSoft);
  padding: 0 30px;
  box-shadow: 0 2px 6px var(--shadow);
  border-radius: 6px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--text);
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.links {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 2rem;
  font-weight: 500;
}

.links a {
  color: var(--text);
  padding: 6px 8px;
  border-radius: 6px;
}

.links a:hover,
.links a:focus {
  background-color: var(--textHover);
}

.searchButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bgSoft);
  color: var(--textSoft);
  padding: 6px 14px;
  border-radius: 12px;
  font-weight: 500;
}

.searchButton:hover,
.searchButton:focus {
  background-color: var(--textHover);
}

.searchButton svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}