.fakeimg {
  padding: 20px;
}

.post-content p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
}

.post-card {
  display: block;
  background: var(--bgSoft);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  overflow: hidden;
  display: block;
  color: inherit;
  text-decoration: none;
}

.postCardLink {
  display: block;
}

.listItem {
  transition: opacity 0.3s ease, transform 0.3s ease;
}