* {
  margin: 0;
}

body {
  font-family: "Balthazar", serif;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-size: 1.25rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}