.single-post {
  background: var(--bgSoft);
  padding: 2rem;
  width: 700px;
  min-height: 600px;
  margin: auto;
  color: var(--text);
  overflow-wrap: break-word;
  hyphens: auto;
  border-radius: 6px;
  margin-top: 2rem;

  .post-header, .post-content, .post-tags {
    margin-bottom: 1rem;
  }
}