.listItemImage {
  height: 150px;
}

.tagHeaderCard {
  background: var(--bgSoft);
  padding: 2rem;
  margin: 1rem auto 2rem;
  text-align: center;
  border-radius: 6px;
}

.listItemTexts {
  padding: 0.75rem;
}

.listItemTitle {
  font-size: 1.5rem;
}

.listItemDesc {
  color: #666;
}