:root {
  // Background colours
  --bg: #181818;
  --bgSoft: #d6d4bc;
  --bgAlternative: #e3eec6;
  --shadow: #11111111;

  // Text colours
  --text: #000000;
  --textSoft: #3a3a3a;

  // Fun colours
  --offWhite: #e1e2d8;
  --gold: #d4af37;
  --parchment: #ebd5b3;
  --blood: #800000;

  // Custom text
  .dateText {
    font-size: 0.8rem;
    font-weight: bold;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}