{{ define "main" }}
<div class="tagTitleCard">
  <h1>Posts tagged: {{ .Title }}</h1>
</div>

<div class="cardGrid">
  {{ range sort .Pages "Date" "desc" }}
  <a href="{{ .Permalink }}" class="postCardLink">
    <div class="smallCard">
      <img
        src="{{ .Params.image }}"
        alt="{{ .Title }}"
        class="cardSmallImage"
        loading="lazy"
      />
      <div class="tagText">
        <h1 class="listItemTitle">{{ .Title }}</h1>
        <p class="cardDescription">{{ .Params.description }}</p>
        <div class="cardInfo">
          <p>
            <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time> |
            {{ with .Params.authors }}{{ delimit . ", " }}{{ end }}
          </p>
        </div>
      </div>
    </div>
  </a>
  {{ end }}
</div>
{{ end }}