{{ define "main" }}
<div class="tagTitleCard">
  <h1>All Tags</h1>
</div>

<div class="cardGrid">
  {{ range .Data.Terms.Alphabetical }}
  <a href="{{ .Page.Permalink }}" class="tagCardLink">
    <div class="smallCard">
      {{ with .Page.Params.image }}
      <img src="{{ . }}" alt="{{ .Page.Title }}" class="cardSmallImage" loading="lazy" />
      {{ end }}
      <div class="tagText">
        <h1 class="listItemTitle">{{ .Page.Title }}</h1>
        <p class="cardDescription">{{ .Count }} posts</p>
      </div>
    </div>
  </a>
  {{ end }}
</div>
{{ end }}