{{ define "main" }}
<div class="list">
  {{ range sort (where .Paginator.Pages ".Params.authors" "!=" nil) "Date" "desc" }}
  <a href="{{ .Permalink }}" class="listItem postCardLink">
    <img
      src="{{ .Params.image }}"
      alt="{{ .Title }}"
      class="listItemImage"
      loading="lazy"
    />
    <div class="listItemTexts">
      <h1 class="listItemTitle">{{ .Title }}</h1>
      <p class="listItemDesc">{{ .Params.description }}</p>
      <div class="listItemDetail">
        <div class="dateText">
          <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time></time> |
          <span class="listItemAuthors">{{ with .Params.authors }}{{ delimit . ", " }}{{ end }}</span>
        </div>
      </div>
      <div class="listItemCategories">
        {{ range (.GetTerms "categories") }}
        <a class="listItemCategory" href="{{ .Permalink }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  </a>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}