{{ define "main" }}
<body class="homepage">
    <div class="row">
        <div class="leftcolumn">
            {{ range first 4 (where .Site.RegularPages "Section" "posts") }}
            <a href="{{ .Permalink }}" class="largeCardLink">
            <article class="card largeCard">
                <div class="cardLargeImage">
                {{ with .Params.image }}
                <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy">
                {{ else }}
                <div class="fakeimg">Image</div>
                {{ end }}
                </div>
                <div class="cardDescription">
                <h2>{{ .Title }}</h2>
                <h5>
                    <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time> | 
                    {{ with .Params.authors }}
                    {{ delimit . ", " }}
                    {{ end }}
                </h5>
                <p>{{ .Params.description }}</p>
                <h6>
                    <h6>{{ delimit .Params.tags ", " }}</h6>
                </h6>
                </div>
            </article>
            </a>
            {{ end }}
        </div>

        <aside class="rightcolumn">
            <section class="card about-me">
                <h2>About Me</h2>
                <img src="/images/icon.webp" alt="MysteryCultist" class="about-img">
                <p>
                    Call me Quin, I am master to a travelling troupe devoted to <i>la commedia dell'arte</i> and dedicated gamemaster—teller of wild tales and gripping stories. My passion is guiding intrepid souls through mystical and occult lands through the medium of roleplaying games. Here, I chronicle my journey and my advice. Welcome, friend!
                </p>
            </section>

            <section class="card popular-posts">
                <h3>My Recommendations</h3>

                {{ with site.GetPage "posts/2025-06-26.md" }}
                <a href="{{ .Permalink }}" class="slabCardLink">
                    <article class="card slabCard">
                    <div class="cardDescription">
                        <h4>{{ .Title }}</h4>
                    </div>
                    </article>
                </a>
                {{ end }}

                {{ with site.GetPage "posts/2025-06-26.md" }}
                <a href="{{ .Permalink }}" class="slabCardLink">
                    <article class="card slabCard">
                    <div class="cardDescription">
                        <h4>{{ .Title }}</h4>
                    </div>
                    </article>
                </a>
                {{ end }}

                {{ with site.GetPage "posts/2025-06-26.md" }}
                <a href="{{ .Permalink }}" class="slabCardLink">
                    <article class="card slabCard">
                    <div class="cardDescription">
                        <h4>{{ .Title }}</h4>
                    </div>
                    </article>
                </a>
                {{ end }}
            </section>

            <section class="card tipMeContainer">
                <h3>Donations</h3>
                <p>Should my scribblings please you, even a small contribution toward my humble work would be warmly welcomed.</p>
                <a href="https://ko-fi.com/themysterycultist" target="_blank" class="custom-kofi-button">
                    Toss A Coin
                </a>
            </section>
        </aside>
        </div>
</body>
{{ end }}