{{ define "main" }}
<body class="homepage">
    <div class="row">
        <div class="leftcolumn">
            {{ range first 4 (where .Site.RegularPages "Section" "posts") }}
            <a href="{{ .Permalink }}" class="largeCardLink">
            <article class="card largeCard">
                <div class="cardLargeImage">
                {{ with .Params.image }}
                <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy">
                {{ else }}
                <div class="fakeimg">Image</div>
                {{ end }}
                </div>
                <div class="cardDescription">
                <h2>{{ .Title }}</h2>
                <h5>
                    <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time> | 
                    {{ with .Params.authors }}
                    {{ delimit . ", " }}
                    {{ end }}
                </h5>
                <p>{{ .Params.description }}</p>
                </div>
            </article>
            </a>
            {{ end }}
        </div>

        <aside class="rightcolumn">
            <section class="card about-me">
                <h2>About Me</h2>
                <img src="/images/icon.webp" alt="MysteryCultist" class="about-img">
                <p>Troupe-director, storyteller and dreamer. I am the Mystery Cultist and this is where you will find my horde of advice in the realms of stories and tales.</p>
            </section>

            <section class="card popular-posts">
                <h3>Popular Posts</h3>
                <div class="fakeimg">Image</div>
                <div class="fakeimg">Image</div>
                <div class="fakeimg">Image</div>
            </section>
            <section class="card tipMeContainer">
                <h3>Tip Me</h3>
                <p>Aid in purchasing ingredients.</p>
                <a href="https://ko-fi.com/themysterycultist" target="_blank" class="custom-kofi-button">
                    Toss A Coin
                </a>
            </section>
        </aside>
        </div>
</body>
{{ end }}