// Imports balthazar google font text
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import 'navbar';
@import 'posts';
@import 'footer';
@import 'error.scss';
@import 'viewport.scss';

// Custom variables for colours
:root {
  --bg: #ffffff;
  --bgSoft: #c9c9c9;
  --text: #000000;
  --textSoft: #3a3a3a;
  --textHover: #800000;
}

// Resets margins for everything
* {
  margin: 0;
  box-sizing: border-box;
}

// Body text setting
body {
  font-family: "Balthazar", serif;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

// Removes underlines & colour from anchors
a {
  color: inherit;
  text-decoration: none;
}

// Container building
.container {
  max-width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Columns start
/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: var(--bg);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: var(--bgSoft);
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: var(--bgSoft);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
// Columns end